

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul{
    list-style: none;
    
}

ul li a{
    text-decoration: none;
    color: black;
}

/* header and hero section */
.header{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    z-index: 1;
    align-items: center;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.hero{
    background-image:linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('/images/hero-image.jpeg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    
}

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100%;
    

}
.hero-section h1{
    font-size: 3.5rem;
}

.hero-section .input-container{
    background-color: #dfe0e4;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    outline: none;

}

.hero-section input{
    border: 1px solid black;
    padding: 20px;
    border-radius: 8px;
}

input::placeholder{
   color: black;
    font-size: 1.2rem; 
}
.hero-section button{
    background-color: #191e3b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 24px;
    cursor: pointer;
}

.download{
    display: flex;
    gap: 5px;
    border: 1px solid #dfe0e4;
    border-radius: 24px;
    padding: 10px;
}
.download img{
width: 20px;
}

/* popular destinations section */

.popular-section{
    margin-top: 10rem;
    padding: 30px;
    margin: 0 auto;
    width: 90%;
    padding-inline: 80px;
   

}

.destination-card .image-container{
    background-image: url('images/paris.jpeg');
    height: 150px;
    background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.destination-card{
    display: inline-block;
    width: 250px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
  overflow: hidden;

    
    
}

.destination-card .text{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    
    border-bottom: 1px solid #dfe0e4;
    border-inline:  1px solid #dfe0e4;
}

.destination-card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    overflow-y: hidden;
    
}


.accomodations-container{
    display: flex;
    gap: 2rem;
}
/* inspiration section */

.inspiration-section{
    margin: 0 auto;
    width: 90%;
    /* max-width: 1200px; */
    padding-inline: 80px;
}

    .accomodations h2 {
    margin-bottom: 1.5rem;
    }
    .accomodations-card {
        position: relative;
        width: 200px;
        border-radius: 10px;
        overflow: hidden;
    }


    .accomodations-card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }

    .accomodations-card p {
        position: absolute;
        bottom: 10px;
        left: 10px;
        margin: 0;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1em;
    }

    .inspiration-section {
        margin-bottom: 80px;
        padding-inline: 80px;
    }
    .inspiration-section h2 {
        font-size: 24px;
        margin-bottom: 1rem;
    }
    .inspiration-section p {
        font-size: 16px;
        
    }
    .inspiration-section span {
        font-weight: bold;
    }

    .holiday-homes-card {
        width: 350px;
        border-radius: 12px;
        overflow: hidden;
        margin-top: 20px;
        text-align: left;
    }
    .holiday-homes-card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    .holiday-homes-card .rating {
        background-color: #227950;
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 14px;
        display: inline-block;
        margin: 12px;
    }

    .category{
        color: #777;
        font-size: 14px; 
    }
    .holiday-homes-card .location {
        color: #777;
        font-size: 14px;
        margin: 0 12px;
    }
    .holiday-homes-card h3 {
        font-size: 18px;
        margin: 8px 12px;
        font-weight: bold;
    }
    .holiday-homes-card .price {
        font-size: 20px;
        color: #333;
        font-weight: bold;
        margin: 8px 12px;
    }
    .holiday-homes-card .details {
        font-size: 14px;
        color: #666;
    }

    .night-price {
        font-size: 14px;
        color: #666;
        margin: 0 12px 12px;
      }

      .home-cards-container{
        display: flex;
        gap: 2rem;
      }

      .cards-container{
        display: flex;
      }

      .family-trip-card{
        display: inline-block;
        margin: 20px;
        
    }
    
    .family-trip-card img{
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
        
    }

.amenities-container{
    display: flex;
    padding: 2rem;
}

.amenities-card{
    display: inline-block;
    margin: 20px;
}

.amenities-card img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    overflow-y: hidden;
}

.summary-cards{
    display: flex;
    padding: 2rem;
}

.summary{
    display: inline-block;
    margin: 20px;
}

.summary .icon img{
    font-size: 2rem;
    width: 80px;
}

.summary .title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px; 
}

.summary .description{
    font-size: 1rem;
}

/*call to action */

.call-to-action {
    background-image:  url('/images/call-to-action.jpeg');
    background-size: cover;
    background-position: center;
    margin: 5rem;
    margin-inline: 5rem;
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 16px;
    color: #fff;
}

.rent-card {
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9);
    padding: 1.5rem;
    border-radius: 16px;
    color: black;
}

.rent-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.rent-card p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.button {
    display: inline-block;
    background-color: #191e3b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 24px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
/* footer section */

.footer{
    background-color: #f7f7f8;
    border-radius: 12px;
    margin: 10px;
    padding: 30px;
    font-weight: 0.9rem;

}


.links-section{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 1rem;


}

.links-section .first-section ul,
   .links-section .second-section ul,
   .links-section .third-section ul
 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.links-section a{
    color: #1668F2;
    text-decoration: none;
    font-size: 0.9rem;
    
}

.links-section a:hover{
    text-decoration: underline;
}

.footer-section{
    margin-bottom: 2rem;
}

.copyright{
    margin-top: 2rem;
    font-size: 0.9rem;
    text-align: center;
}